<h2>Pending Booking Requests</h2>
<div>
  <% @dogs.each do |dog| %>
    <% if dog.visits.select {|visit| visit.date > Date.today && visit.status == "pending"}.present? %>
      <% dog.visits.select {|visit| visit.date > Date.today && visit.status == "pending"}.each do |visit| %>
          <div class="card-product">
            <% if visit.dog.photo.file %>
                  <%= cl_image_tag visit.dog.photo %>
            <% else %>
                  <%= image_tag "default_dog.jpg"%>
            <% end %>
            <div class="card-product-infos">
              <div>
                <h2>
                  <%= link_to @dogs.select { |dog| dog.id == visit.dog_id}[0].name, @dogs.select { |dog| dog.id == visit.dog_id}[0] %>
                </h2>
                <p><em>Request submitted on</em></p>
                <p>
                  <strong><%= visit.date.strftime("%a, %e %B %Y") %></strong>
                </p>
              </div>
              <div class="text-center">
                <p><em>with</em></p>
                <div class="m-2">
                  <% if visit.user.photo.file %>
                    <%= cl_image_tag visit.user.photo, class: "avatar-small"%>
                  <% else %>
                    <%= image_tag "default_dog.jpg", class: "avatar-small" %>
                  <% end %>

                </div>
                <h3><%= visit.user.username %></h3>
              </div>
              <div>
                <div class="action-btn">
                  <p>
                    <%= link_to image_tag("Accept-icon.png"), visit_accept_path(visit) %>
                  </p>
                  <p>
                    <%= link_to image_tag("Decline-icon.png"), visit_decline_path(visit) %>
                  </p>
                </div>
              </div>
            </div>
          </div>
      <% end %>
      <% else %>
        <p>You have no pending booking requests</p>
      <% end %>
  <% end %>
  </div>
<br>
<h2>Approved Booking Requests</h2>
<div>
  <% @dogs.each do |dog| %>
    <% if dog.visits.select {|visit| visit.date > Date.today && visit.status == "approved"}.present? %>
      <% dog.visits.select {|visit| visit.date > Date.today && visit.status == "approved"}.each do |visit| %>
          <div class="card-product">
            <% if visit.dog.photo.file %>
                  <%= cl_image_tag visit.dog.photo %>
            <% else %>
                  <%= image_tag "default_dog.jpg"%>
            <% end %>
            <div class="card-product-infos">
              <div>
                <h2>
                  <%= link_to @dogs.select { |dog| dog.id == visit.dog_id}[0].name, @dogs.select { |dog| dog.id == visit.dog_id}[0] %>
                </h2>
                <p><em>Request submitted on</em></p>
                <p>
                  <strong><%= visit.date.strftime("%a, %e %B %Y") %></strong>
                </p>
              </div>
              <div class="text-center">
                <p><em>with</em></p>
                <div class="m-2">
                  <% if visit.user.photo.file %>
                    <%= cl_image_tag visit.user.photo, class: "avatar-small"%>
                  <% else %>
                    <%= image_tag "default_dog.jpg", class: "avatar-small" %>
                  <% end %>

                </div>
                <h3><%= visit.user.username %></h3>
              </div>
              <div>
              </div>
            </div>
          </div>
      <% end %>
      <% else %>
        <p>You have no approved booking requests</p>
      <% end %>
   <% end %>
  </div>
<br>
<h2>Declined Booking Requests</h2>
<div>
  <% @dogs.each do |dog| %>
    <% if dog.visits.select {|visit| visit.date > Date.today && visit.status == "declined"}.present? %>
      <% dog.visits.select {|visit| visit.date > Date.today && visit.status == "declined"}.each do |visit| %>
          <div class="card-product">
            <% if visit.dog.photo.file %>
                  <%= cl_image_tag visit.dog.photo %>
            <% else %>
                  <%= image_tag "default_dog.jpg"%>
            <% end %>
            <div class="card-product-infos">
              <div>
                <h2>
                  <%= link_to @dogs.select { |dog| dog.id == visit.dog_id}[0].name, @dogs.select { |dog| dog.id == visit.dog_id}[0] %>
                </h2>
                <p><em>Request submitted on</em></p>
                <p>
                  <strong><%= visit.date.strftime("%a, %e %B %Y") %></strong>
                </p>
              </div>
              <div class="text-center">
                <p><em>with</em></p>
                <div class="m-2">
                  <% if visit.user.photo.file %>
                    <%= cl_image_tag visit.user.photo, class: "avatar-small"%>
                  <% else %>
                    <%= image_tag "default_dog.jpg", class: "avatar-small" %>
                  <% end %>

                </div>
                <h3><%= visit.user.username %></h3>
              </div>
              <div>
              </div>
            </div>
          </div>
      <% end %>
      <% else %>
      <p>You have no declined booking requests</p>
      <% end %>
   <% end %>
  </div>
