<h2>Upcoming Bookings</h2>
<br>
<div>
  <% @dogs.each do |dog| %>
    <% dog.visits.select {|visit| visit.date > Date.today}.each do |visit| %>
        <div class="card-product">
          <% if visit.dog.photo.file %>
                <%= cl_image_tag visit.dog.photo %>
          <% else %>
                <%= cl_image_tag "DogProfile_wsjast" %>
          <% end %>
          <div class="card-product-infos">
            <div>
              <h2>
                <%= link_to @dogs.select { |dog| dog.id == visit.dog_id}[0].name, @dogs.select { |dog| dog.id == visit.dog_id}[0] %>
              </h2>
              <p><em>is booked on</em></p>
              <p>
                <strong><%= visit.date.strftime("%a, %e %B %Y") %></strong>
              </p>
            </div>
            <div>
              <p>
                <% if visit.date > Date.today %>
                  <%= link_to "Cancel Booking", visit_path(visit), class: "btn btn-primary", method: :delete, data: { confirm: "Sure you don't wanna hang out with #{@dogs.select { |dog| dog.id == visit.dog_id}[0].name}?" } %>
                  <% end %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
   <% end %>
  </div>
