
 <div class="container">
   <div class="row" style="grid-row-gap: 1em;">

    <% @dogs.each do |dog| %>
      <div class="col-md-6 col-lg-4 col-xl-3">
        <div class="card-trip">
          <% if dog.photo.file %>
            <%= cl_image_tag dog.photo %>
          <% else %>
            <%= cl_image_tag "DogProfile_wsjast" %>
          <% end %>
          <div class="card-trip-infos">
              <h2><%= link_to dog.name, dog_path(dog) %>, <%= dog.breed %> 🐾</h2>
            <h2 class="card-trip-pricing"><%= dog.price %>$</h2>
          </div>
        </div>
      </div>

     <% end %>

   </div>
 </div>
