<div class="container">
   <div class="row">

    <% @dogs.each do |dog| %>
      <div class="col-md-6 col-xl-4" style="position: static;">
        <div class="card-trip w-100 mb-4">
          <div class="card-trip-img">
              <% if dog.photo.file %>
                <%= cl_image_tag dog.photo %>
              <% else %>
                <%= cl_image_tag "DogProfile_wsjast" %>
              <% end %>
            </div>
          <div class="card-trip-infos">
              <div>
                <h2><%= link_to dog.name.split.map(&:capitalize).join(' '), dog_path(dog) %></h2>

                  <% if dog.dog_reviews.present? %>
                    <% sum = 0 %>
                    <% dog.dog_reviews.each do |review| %>
                      <% sum += review.rating %>
                    <% end %>
                    <% @avg = sum / dog.dog_reviews.size %>
                    <p>
                      <% @avg.times do %>
                        <i class="fas fa-heart"></i>
                        <% end %>
                      <% (5-@avg).times do %>
                        <i class="far fa-heart"></i>
                      <% end %>
                    </p>
                  <% else %>
                    <p style="color: transparent;">x</p>
                  <% end %>

                <h3 id="breed-small"><%= dog.breed.split.map(&:capitalize).join(' ') %></h3>
              </div>
            <h2 class="card-trip-pricing"><%= dog.price %>$</h2>
          </div>
        </div>
      </div>

     <% end %>

   </div>
 </div>
