  <%= simple_form_for(@dog) do |f| %>
  <%= f.input :name  %>
  <%= f.input :age  %>
  <%= f.input :breed  %>
  <%= f.input :size, collection: ["very small", "small", "medium", "big"]  %>
  <%= f.input :price  %>
  <%= f.input :address, placeholder: "Street, City, Country" %>
  <%= f.input :description, value: "" %>
  <%= f.input :photo  %>
  <%= f.input :photo_cache, as: :hidden %>
  <div class="d-flex justify-content-between">
    <%= f.button :submit, class: "btn btn-primary" %>
    <%= link_to "Back", mypals_path, class:"btn btn-primary" %></div>
  </div>
  <% end %>
