<% @dogs.each do |dog| %>
  <li class="list-unstyled">
    <div class="card-mypal">
      <% if dog.photo.file %>
        <%= cl_image_tag dog.photo %>
      <% else %>
        <%= cl_image_tag "DogProfile_wsjast" %>
      <% end %>
      <div class="card-mypal-infos">
        <div>
          <h2><%= dog.name.split.map(&:capitalize).join(' ') %></h2>
          <p><strong>Age:</strong> <em><%= dog.age %></em></p>
          <p><strong>Breed:</strong> <em><%= dog.breed.split.map(&:capitalize).join(' ') %></em></p>
          <p><strong>Size:</strong> <em><%= dog.size %></em></p>
          <p><strong>Price:</strong> <em><%= dog.price %>$</em></p>
          <p><strong>Address:</strong> <em><%= dog.address.split.map(&:capitalize).join(' ') %></em></p>
          <p><strong>Description:</strong> <em><%= dog.description %></em></p>
        </div>
        <div>
          <p><%= link_to "Edit", dog_path(dog), class: "btn btn-primary", style: "width: 120px" %></p>
        </div>
      </div>
    </div>
  </li>
<% end %>
