<h2>Past playdates</h2>
<br>
<% @visits.select {|visit| visit.date <= Date.today}.each do |visit| %>
    <div class="card-product">
      <% if visit.dog.photo.file %>
            <%= cl_image_tag visit.dog.photo %>
      <% else %>
            <%= cl_image_tag "DogProfile_wsjast" %>
      <% end %>
      <div class="card-product-infos">
        <div>
          <p><em>with</em></p>
          <h2>
            <%= link_to @dogs.select { |dog| dog.id == visit.dog_id}[0].name, @dogs.select { |dog| dog.id == visit.dog_id}[0] %>

          </h2>
          <p><em>on</em></p>
          <p>
            <strong><%= visit.date.strftime("%a, %e %B %Y") %></strong>
          </p>
        </div>
        <div>
          <p>
            <%= link_to "Details", dog_path(visit.dog), class: "btn btn-primary", style: "width: 120px" %>
          </p>
          <p>
            <% if visit.date > Date.today %>
              <%= link_to "Cancel Playdate", visit_path(visit), class: "btn btn-primary", style: "width: 120px", method: :delete, data: { confirm: "Sure you don't wanna hang out with #{@dogs.select { |dog| dog == visit.dog}[0].name}?" } %>
            <% end %>
            <% if visit.date < Date.today && !@dog_reviews.select { |review| review.user == current_user && review.dog == visit.dog }.present? %>
              <%= link_to "Add a review", new_dog_dog_review_path(visit.dog), class: "btn btn-primary", style: "width: 120px" %>
            <% end %>
            <% if visit.date < Date.today && @dog_reviews.select { |review| review.user == current_user && review.dog == visit.dog }.present? %>
              <%= link_to "Edit your review", edit_dog_dog_review_path(visit.dog, @dog_reviews.select { |review| review.user == current_user && review.dog == visit.dog }), class: "btn btn-primary", style: "width: 120px" %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  <% end %>

<h2>Upcoming playdates</h2>
<br>
<% @visits.select {|visit| visit.date > Date.today}.each do |visit| %>
    <div class="card-product">
      <% if visit.dog.photo.file %>
            <%= cl_image_tag visit.dog.photo %>
      <% else %>
            <%= cl_image_tag "DogProfile_wsjast" %>
      <% end %>
      <div class="card-product-infos">
        <div>
          <p><em>with</em></p>
          <h2>
            <%= link_to @dogs.select { |dog| dog.id == visit.dog_id}[0].name, @dogs.select { |dog| dog.id == visit.dog_id}[0] %>

          </h2>
          <p><em>on</em></p>
          <p>
            <strong><%= visit.date.strftime("%a, %e %B %Y") %></strong>
          </p>
        </div>
        <div>
          <p>
            <% if visit.date > Date.today %>
              <%= link_to "Cancel Playdate", visit_path(visit), class: "btn btn-primary", method: :delete, data: { confirm: "Sure you don't wanna hang out with #{@dogs.select { |dog| dog.id == visit.dog_id}[0].name}?" } %>
              <% end %>
            <% if visit.date <= Date.today %>
              <%= link_to "Add a review", new_dog_dog_review_path(visit.dog_id), class: "btn btn-primary" %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
  <br>
  <br>
