<h2>Past playdates</h2>
<br>
<% @visits.select {|visit| visit.date <= Date.today.to_s}.each do |visit| %>
    <div class="card-product">
      <% if visit.dog.photo.file %>
            <%= cl_image_tag visit.dog.photo %>
      <% else %>
            <%= cl_image_tag "DogProfile_wsjast" %>
      <% end %>
      <div class="card-product-infos">
        <div>
          <p><em>with</em></p>
          <h2>
            <%= @dogs.select { |dog| dog.id == visit.dog_id}[0].name %>

          </h2>
          <p><em>on</em></p>
          <p>
            <strong><%= visit.date.strftime("%a, %e %B %Y") %></strong>
          </p>
        </div>
        <div>
          <p>
            <% if visit.date > Date.today.to_s %>
              <%= link_to "Cancel Playdate", visit_path(visit), class: "btn btn-primary", method: :delete, data: { confirm: "Sure you don't wanna hang out with #{@dogs.select { |dog| dog.id == visit.dog_id}[0].name}?" } %>
              <% end %>
            <% if visit.date <= Date.today.to_s %>
              <%= link_to "Add a review", new_dog_dog_review_path(visit.dog_id), class: "btn btn-primary" %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  <% end %>

<h2>Upcoming playdates</h2>
<br>
<% @visits.select {|visit| visit.date > Date.today.to_s}.each do |visit| %>
    <div class="card-product">
      <% if visit.dog.photo.file %>
            <%= cl_image_tag visit.dog.photo %>
      <% else %>
            <%= cl_image_tag "DogProfile_wsjast" %>
      <% end %>
      <div class="card-product-infos">
        <div>
          <p><em>with</em></p>
          <h2>
            <%= @dogs.select { |dog| dog.id == visit.dog_id}[0].name %>

          </h2>
          <p><em>on</em></p>
          <p>
            <strong><%= visit.date.strftime("%a, %e %B %Y") %></strong>
          </p>
        </div>
        <div>
          <p>
            <% if visit.date > Date.today.to_s %>
              <%= link_to "Cancel Playdate", visit_path(visit), class: "btn btn-primary", method: :delete, data: { confirm: "Sure you don't wanna hang out with #{@dogs.select { |dog| dog.id == visit.dog_id}[0].name}?" } %>
              <% end %>
            <% if visit.date <= Date.today.to_s %>
              <%= link_to "Add a review", new_dog_dog_review_path(visit.dog_id), class: "btn btn-primary" %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
  <br>
  <br>
