<% if @dog.photo.file %>
  <%= cl_image_tag @dog.photo, style:"height: 78vh; width: 100%; object-fit: cover; object-position: center; margin-bottom: 30px;" %>
<% else %>
  <%= cl_image_tag "demo_dog_1.jpg", style:"height: 78vh; width: 100%; object-fit: cover; object-position: top; margin-bottom: 30px;" %>
<% end %>

<div class="container bg-white px-5 py-3 d-flex justify-content-between">
  <div class="dog-info flex-fill">
    <h2>Meet <%= @dog.name.capitalize %>,</h2>
    <h4>a <%= @dog.age %> years old <%= @dog.breed.split.map(&:capitalize).join(' ') %>!</h4>
    <p>Location <%= @dog.address.capitalize  %></p>
    <p><%= @dog.description %></p>
  </div>

<% if @dog.user_id == current_user.id %>
  <%= link_to "Delete", dog_path(@dog),
      method: :delete,
      data: { confirm: "Are you sure you want to remove this barkiful friend?" } %>
  <% else %>
  <br>
  <% end %>

  <div class="visit-form w-150">
    <% @visits.each do |visit| %>
      <li><%= visit.date %> <%= link_to "Delete", visit_path(visit),
          method: :delete,
          data: { confirm: "Schade" } %>
      </li>

    <% end %>

    <%= render 'visits/form' %>
    <%= link_to "Delete", dog_path(@dog),
        method: :delete,
        data: { confirm: "Are you sure you want to remove this barkiful friend?" } %> |
    <%= link_to "Back", dogs_path %>
  </div>
</div>

