<% if @dog.photo.file %>
  <%= cl_image_tag @dog.photo, style:"height: 78vh; width: 100%; object-fit: cover; object-position: center; margin-bottom: 30px;" %>
<% else %>
  <%= cl_image_tag "demo_dog_1.jpg", style:"height: 78vh; width: 100%; object-fit: cover; object-position: top; margin-bottom: 30px;" %>
<% end %>

<div class="container bg-white px-5 py-3 d-flex justify-content-between">

  <div class="dog-info flex-fill">
    <h2 class="mt-2">Meet <%= @dog.name.split.map(&:capitalize).join(' ') %>,</h2>
    <h4 class="mb-4">a <%= @dog.age %> year old <%= @dog.breed.split.map(&:capitalize).join(' ') %>!</h4>
    <div class="larger-p">
      <p><i class="fas fa-dog mr-2"></i>  <%= @dog.name %> is a <%= @dog.size %> dog</p>
      <p><i class="fas fa-map-marker-alt mr-2"></i> <%= @dog.name %> lives at <%= @dog.address.split.map(&:capitalize).join(' ') %></p>
      <p><i class="fas fa-info-circle mr-2"></i><em> <%= @dog.name %> is <%= @dog.description %></em></p>
    </div>
    <br>
    <span class="mr-2 btn-green">
      <%= link_to "Back", dogs_path, class:"btn btn-primary" %>
    </span>
    <span class="mr-2">
      <% if @dog.user_id == current_user.id %>
        <%= link_to "Delete", dog_path(@dog),
          method: :delete,
          data: { confirm: "Are you sure you want to remove this barkiful friend?" }, class:"btn btn-primary" %>
      <% else %>
      <% end %>
    </span>
  </div>
  <div class="form-wrapper" style="box-shadow: 0 0 7px #f4f4f4; border: 2px solid #f4f4f4; border-radius: 8px; width: 500px; margin:0 auto;">

    <div class="px-5 pb-5 pt-4">
      <div class="border-bottom pb-2 d-flex justify-content-between"><h3>$<%= @dog.price %></h3> per day</div>
      <h2 class="mb-4 pt-3">Play with <%= @dog.name.split.map(&:capitalize).join(' ') %></h2>
      <% if @dog.dog_reviews.present? %>
        <p><% @avg.times do %>
          <i class="fas fa-heart"></i>
          <% end %>
        <% (5-@avg).times do %>
          <i class="far fa-heart"></i>
        <% end %></p>
      <% end %>
      <%= render "visits/form", dog: @dog, visit: @visit %>
      <br>
      <p style="font-weight: bold;"><%= @dog.name.split.map(&:capitalize).join(' ')%> is not available on:</p>
        <div class="visit-form w-150">
          <ul class="list-unstyled">
            <% @visits.each do |visit| %>
                 <li>
                  <%= visit.date %>
                 </li>
            <% end %>
          </ul>
        </div>
    </div>
  </div>
</div>
<br>
<div class="container bg-white px-5 py-3 justify-content-between">
  <% if @dog.dog_reviews.present? %>
    <h4 class="mb-4">Check out what other users think about <%= @dog.name %></h4>
  <% else %>
    <h4 class="mb-4">There are no reviews for <%= @dog.name %> yet</h4>
  <% end %>
  <% @dog.dog_reviews.each do |review| %>
    <div class="review-box d-flex">
      <div class="user-info">
        <% if @users.select {|user| user.id == review.user_id}[0].photo? %>
          <%= cl_image_tag @users.select {|user| user.id == review.user_id}[0].photo, class:"user-avatar" %>
        <% else %>
          <%= image_tag "blank-profile-picture-973460_960_720.png", class:"user-avatar" %>
        <% end %>
        <p class="mb-0 pt-2">
          <%= @users.select {|user| user.id == review.user_id}[0].username %>
        </p>
      </div>
      <div class="review-content-box">
        <div>
          <% review.rating.times do %>
            <i class="fas fa-heart"></i>
          <% end %>
          <% (5-review.rating).times do %>
            <i class="far fa-heart"></i>
          <% end %>
          - Met with <%= @dog.name.split.map(&:capitalize).join(' ') %> at <%= @dog.visits.select {|visit| visit.user_id == @users.select {|user| user.id == review.user_id}[0].id }[0].date.strftime("%a, %e %B %Y") %>
        </div>
        <div class="pt-2">
          <%= review.content %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<br>

