<% if @dog.photo.file %>
  <%= cl_image_tag @dog.photo, style:"height: 78vh; width: 100%; object-fit: cover; object-position: center; margin-bottom: 30px;" %>
<% else %>
  <%= cl_image_tag "demo_dog_1.jpg", style:"height: 78vh; width: 100%; object-fit: cover; object-position: top; margin-bottom: 30px;" %>
<% end %>

<div class="container bg-white px-5 py-3 d-flex justify-content-between">

  <div class="dog-info flex-fill">
    <h2>Meet <%= @dog.name.split.map(&:capitalize).join(' ') %>,</h2>
    <h4>a <%= @dog.age %> year old <%= @dog.breed.split.map(&:capitalize).join(' ') %>!</h4>
    <p>Location <%= @dog.address.split.map(&:capitalize).join(' ') %></p>
    <p><%= @dog.description %></p>
    <br>
    <span class="mr-2">
      <%= link_to "Back", dogs_path, class:"btn btn-primary" %>
    </span>
    <span class="mr-2">
      <% if @dog.user_id == current_user.id %>
        <%= link_to "Delete", dog_path(@dog),
          method: :delete,
          data: { confirm: "Are you sure you want to remove this barkiful friend?" }, class:"btn btn-primary" %>
      <% else %>
      <% end %>
    </span>
  </div>
  <div class="form-wrapper" style="box-shadow: 0 0 7px #f4f4f4; border: 2px solid #f4f4f4; border-radius: 8px; width: 500px; margin:0 auto;">
    <div class="p-5">
      <h2>Pick a date with <%= @dog.name.split.map(&:capitalize).join(' ') %></h2>
      <%= render "visits/form", dog: @dog, visit: @visit %>
      <br>
      <p style="font-weight: bold;"><%= @dog.name.split.map(&:capitalize).join(' ')%> is not available on:</p>
        <div class="visit-form w-150">
          <ul class="list-unstyled">
            <% @visits.each do |visit| %>
                 <li>
                  <%= visit.date %>
                 </li>
            <% end %>
          </ul>
        </div>
    </div>
  </div>
</div>
<br>
<div class="container bg-white px-3 py-3 d-flex justify-content-between">
  <% @dog.dog_reviews.each do |review| %>
    <div class="review-box d-flex">
      <div class="user-info">
        <% if @users.select {|user| user.id == review.user_id}[0].photo? %>
          <%= cl_image_tag @users.select {|user| user.id == review.user_id}[0].photo, class:"user-avatar" %>
        <% else %>
          <%= image_tag "blank-profile-picture-973460_960_720.png", class:"user-avatar" %>
        <% end %>
        <p class="mb-0 pt-2">
          <%= @users.select {|user| user.id == review.user_id}[0].email %>
        </p>
      </div>
      <div class="review-content-box">
        Met with <%= @dog.name.split.map(&:capitalize).join(' ') %> at <%= @dog.visits.select {|visit| visit.user_id == @users.select {|user| user.id == review.user_id}[0].id } %>
      </div>
    </div>
  <% end %>
</div>
<br>
