<div class="container">


<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg">
  <div class="card-product-infos">
    <h2><%= @dog.name %></h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>

<% if @dog.user_id == current_user.id %>
  <%= link_to "Delete", dog_path(@dog),
      method: :delete,
      data: { confirm: "Are you sure you want to remove this barkiful friend?" } %>
  <% else %>
  <br>
  <% end %>

  <% @visits.each do |visit| %>
    <li><%= visit.date %>
    </li>

  <% end %>





  <%= render 'visits/form' %>
  <%= link_to "Back", dogs_path %>

</div>
